html {
  height: 100%;
}

body {
  padding-top: 10px;
  padding-bottom: 10px;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Courier New', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  background-color: lightblue;
}

h1 {
  font-size: 2.0em;
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 4px solid #2F465D;
  text-align: center;
}

nav {
  display: grid;
  color: white;
  margin-bottom: 50px;

}

#searchbar{
  width: 200px;
  height: 30px;
  margin-right: 10px;
  font-size: 15px;
}

#searchbutton{
  height: 30px;
  font-size: 15px;
}

button:hover{
  cursor: pointer;
}

nav ul li {
  padding: 14px;
  list-style: none;
  background-color: darkslateblue;
  display: inline;

}

li:hover{
  color: white;
  text-decoration: none;
}

nav li a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 5px 5px;

}

a:hover{
  text-decoration: none;
  color: black;
}
