<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Owner Name</label>
      <div class="form-control">{{motoReg.owner_name}}</div>
    </div>
    <div class="form-group">
      <label>Manufacturer</label>
      <div class="form-control">{{motoReg.manufacturer}}</div>
    </div>
    <div class="form-group">
      <label>Model</label>
      <div class="form-control">{{motoReg.model}}</div>
    </div>
    <div class="form-group">
      <label>Year of Production</label>
      <div class="form-control">{{motoReg.productionYear}}</div>
    </div>
    <div class="form-group">
      <label>Engine Size</label>
      <div class="form-control">{{motoReg.size}}</div>
    </div>
    <div class="form-group">
      <label>License number</label>
      <div class="form-control">{{motoReg.registration}}</div>
    </div>
    <div class="form-group">
      <label>Mileage</label>
      <div class="form-control">{{motoReg.mileage}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{motoReg.purchaseprice}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{motoReg.purchasedate}}</div>
    </div>
  </div>
</div>
